body,
html {
    margin: 0;
    height: 100%;
}
body {
    background: linear-gradient(-100deg, #EBC3DB, #f2a9f6);
}
p{
    font-size: 15px;
    font-family 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.clr-back{
    background: linear-gradient(-100deg, #f2a9f6, #EBC3DB);
}
.section{
    box-shadow: 0;
    padding: 30px;
    margin-bottom: 0;
    transition: margin 0.25s linear 0.25s;
}
/* Icona of a box */
.material-symbols-outlined {
    display: flex;
    justify-content: center;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    font-size: 300px;
    color: #ff3ab0;
    background: linear-gradient(-100deg, #EBC3DB, #f2a9f6);
    border-radius: 20px;
}
.simple-it-is{
    display: flex;
    justify-content: center;
    text-align: center;
}
.simple-it-is p{
    font-size: 20px;
}
.fdb-block {
    box-shadow: 0;
    padding: 4rem 0;
    margin-bottom: 0;
    transition: margin 0.25s linear 0.25s;
}
footer{
    background: linear-gradient(-100deg, #f2a9f6, #EBC3DB);
    color: black;
    padding: 2rem;
}
.nav-item a{
    color: black;
}
