body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    background: linear-gradient(-100deg, #EBC3DB, #f2a9f6);
}
p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.clr-back{
    background: linear-gradient(-100deg, #f2a9f6, #EBC3DB);
}
.section{
    box-shadow: 0;
    padding: 30px;
    margin-bottom: 0;
    transition: margin 0.25s linear 0.25s;
}
/* Icon of a box */
.bi.bi-boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff3ab0;
    /* background: linear-gradient(-100deg, #EBC3DB, #f2a9f6);
    border-radius: 20px; */
    padding: 15px;
    height: 400px;
    width: 300px;
}
.simple-it-is{
    display: flex;
    justify-content: center;
}
.simple-it-is p{
    font-size: 25px;
}
.fdb-block {
    box-shadow: 0;
    padding: 4rem 0;
    margin-bottom: 0;
    transition: margin 0.25s linear 0.25s;
}
.bi.bi-box, .bi-box-seam{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff3ab0;
    /* background: linear-gradient(-100deg, #EBC3DB, #f2a9f6);
    border-radius: 20px; */
    padding: 15px;
    height: 400px;
    width: 300px;
}
footer{
    /* background: linear-gradient(-100deg, #f2a9f6, #EBC3DB); */
    background: linear-gradient(-100deg, #EBC3DB, #f2a9f6);
    color: black;
    padding: 2rem;
}
.nav-item a{
    color: black;
}
@media (max-width: 700px) {
    p{
        font-size: 15px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .simple-it-is p{
        font-size: 18px;
    }
    .img-fluid{
        display: none;
    }
}
