body {
    height: 100vh;
    background: linear-gradient(100deg, white, rgb(159, 0, 204));
}
.nav-link{
    font-size: 20px;
    color: black;
    margin: 20px;
} 
p{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color: white;
}
/* contact form from contact.html */
.container-contact {
    justify-content: center;
    padding: 50px;
    font-size: 20px;
}

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background-color: rgb(66, 65, 65); */
    background: linear-gradient(35deg, white, rgb(159, 0, 204));
    color: white;
    padding: 20px;   
    font-size: 20px;
}